// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

$primary   : #0A47A9; // A darker shade of blue
$secondary : #1E4D5D; // A darker teal, closer to blue
$accent    : #673AB7; // A slightly darker purple

$dark      : #121212; // A very dark grey, good for backgrounds
$dark-page : #0D0D0D; // An even darker grey for page backgrounds

$positive  : #1976D2; // Using a positive blue
$negative  : #8B0000; // A darker red
$info      : #2196F3; // A brighter, more vivid blue
$warning   : #FF8C00; // A dark orange for warnings

